
@import "variables";
/* 
@font-face {
    font-family: 'Avenir';
    src: url('/fonts/avenir-pro-black.woff2') format('woff2'), 
         url('/fonts/avenir-pro-black.woff') format('woff');
    font-weight: var(--black-weight);
}

@font-face {
    font-family: 'Avenir';
    src: url('/fonts/avenir-pro-roman.woff2') format('woff2'), 
         url('/fonts/avenir-pro-roman.woff') format('woff');
    font-weight: var(--regular-weight);
} */